@import "./base.css";
body {
  background-color: #1c1e26;
  color: white;
  font-family: Arial, sans-serif;
}

@font-face {
  font-family: "Poppins";
  src: url("._Ubuntu-M.ttf") format("truetype");
}

.container {
  padding: 20px;
}

.search-bar {
  margin-bottom: 20px;
}

.server-card:hover {
  transform: scale(1.05);
}

.server-card-status {
  display: flex;
  align-items: center;
  gap: 5px;
}

.server-card-status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.server-card-status-dot.green {
  background-color: green;
}

.server-card-status-dot.red {
  background-color: red;
}

.server-card-info {
  text-align: center;
  margin-top: 10px;
}

.server-card-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.server-detail {
  background-color: #282c34;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
